<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>CRUD</title>

</head>

<body>
  <h2>Cadastro de usuário</h2>
  <button><a href="/mostrar">Usuários</a></button>
  <hr>
  <form action="/mostrar" method="post" >
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Cidade" name="cidade">
    <button type="submit">Cadastrar</button>
  </form>

</body>

</html>