/react/
/.vscode
/Caverna do Dragao/
/FreeCode Camp/
/Idéias Paralelas/
/Outros/
/Projetos Dos Módulos/
/ZZZ Modelo/
*/node_modules/
/React Dia 6 - Recriando Site/
/React Dia 7 - Rotas/
s.js
teste.js
teste.py