* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.4rem;
}

span {
  font-size: 0.6rem;
}

input {
  display: block;
  width: 50%;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 10px;
  padding: 10px 25px;
  border: none;
  background-color: #0092c3;
  cursor: pointer;
  font-size: 2rem;
  color: aliceblue;
}

button:hover {
  background-color: #000;
}

.center {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  width: 30%;
  min-width: 20ch;
  padding: 0 10px 0 0;
}

.center form input {
  width: 100%;
}
