.fundo {
  background-color: var(--acento);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

p {
  max-width: 75ch;
  text-align: center;
  padding: 0 0 1rem;
  line-height: var(--linha-espacada);
}
