.styled-input {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25rem 0;
  margin-top: 0.25rem;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 2px solid black;
}

.styled-input:focus {
  outline: none;
  border-bottom: 2px solid blue;
}
