.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container form {
  border: 2px solid black;
  width: 35rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-title {
  border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 1rem;
}
