<div class="fundo">
  <div class="container">
    <h2>Testimonial</h2>
    <div class="divisor"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam corrupti vero officiis ut nemo dolorum itaque,
      molestias dolorem quam, eum inventore. Dolorum accusantium harum dolorem expedita obcaecati, provident nulla,
      cupiditate illo, architecto praesentium alias aliquam perferendis nihil ea rem placeat iste recusandae ab!
      Similique tempora tenetur, accusamus excepturi quos laboriosam.</p>
  </div>
</div>