.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

h2 {
  font-size: 3rem;
  color: var(--texto-cinza);
  font-weight: 300;
  padding: 1rem 0;
}

.card-cont {
  padding: 3rem 0 0;
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
}
