@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");
html {
  font-size: 16px;
  font-family: "fira code";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
