.container {
  width: 90%;
  min-width: 600px;
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.title {
  border-bottom: 3px solid black;
  text-align: center;
  padding: 0;
  margin: 0;
}

.lista {
  border: 3px solid black;
  width: 35rem;
  display: flex;
  flex-direction: column;
}
