footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191c03;
    padding: 50px 0px;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
}

footer ul li {
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #c3c63b;
    font-size: 2rem;
}

footer p {
    color: #c3c63b;
    text-align: center;
}
