<div class="container">
  <form>
    <div class="form-header">
      <h1 class="form-title">Novo Usuário</h1>
    </div>
    <div class="form-content">
      <div class="input-container" style="grid-area: fn;">
        <label for="" class="input-label">First Name</label>
        <styled-input></styled-input>
      </div>

      <div class="input-container" style="grid-area: ln;">
        <label for="" class="input-label">Last Name</label>
        <styled-input></styled-input>
      </div>

      <div class="input-container" style="grid-area: email;">
        <label for="" class="input-label">Email</label>
        <styled-input></styled-input>
      </div>

      <div class="input-container" style="grid-area: pass;">
        <label for="" class="input-label">Password</label>
        <styled-input></styled-input>
      </div>

      <div class="input-container" style="grid-area: btn;">
        <div styled-button>Send</div>
      </div>

    </div>
  </form>
</div>